/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Cormorant+Infant&family=Cormorant:ital,wght@0,400;0,500;1,400;1,500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=IBM+Plex+Sans+JP:wght@400;500&family=Kosugi+Maru&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&display=swap');

/* Import fonts locally */
@font-face {
  font-family: 'Manege Demo';
  src: url("/fonts/Manege.woff") format("woff");
}
@font-face {
  font-family: 'Five Years Later Demo';
  src: url("/fonts/FiveYears.woff") format("woff");
}

@import url(//db.onlinewebfonts.com/c/085fbf356d39467a513d85fd828e50af?family=Diagramatika+Text);

/* Import mixins and variables */
@import "mixins";
@import "variables";

/* Import components */
@import "cards";
@import "about";
@import "text";
@import "menu";

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-blue);
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Links */
a {
  color: var(--main-blue);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: white;
}

/* Inputs */
input {
  background: rgba(255, 255, 255, 0.293);
  border: none;
}

/* Logo */
.logo {
  display: none;
  position: absolute;
  img {
    display:none;
    max-width: 2vw;
  }
}

/* Mobile */
#mobile-test{
  display: none;
  @include mobile{
    display: block;
  }
}
